<html lang="en">
  <head>
    <style type="text/css">
      .container {
        text-align: center;
        padding: 60px 20px;
        background: #212121;
      }

      img {
        margin-top: 60px;
        margin-bottom: 20px;
      }

      a {
        color: blue;
      }

      h1 {
        color: white;
      }

      p {
        color: white;
        padding: 0 50px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div
      class="container"
      style="text-align: center; padding: 60px 20px; background: #212121"
    >
      <img
        src="{{logo}}"
        alt="logo"
        style="margin-top: 60px; margin-bottom: 20px"
      />
      <h1 style="color: white">Olá</h1>
      <br />
      <p style="color: white; padding: 0 50px; text-align: center">
        Acesse
        <a href="{{activateUrl}}" style="color: blue">{{activateUrl}}</a> para
        criar uma nova senha
      </p>
    </div>
  </body>
</html>
