<html lang="en">
  <head>
    <style type="text/css">
      .container {
        text-align: center;
        padding: 60px 20px;
      }

      img {
        margin-top: 60px;
        margin-bottom: 20px;
      }

      a {
        color: blue;
      }

      h1 {
        color: #000000;
      }

      p {
        color: #000000;
        padding: 0 50px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container" style="text-align: center; padding: 60px 20px">
      <h1>Olá</h1>
      <br />
      <p style="padding: 0 50px; text-align: center">
        Acesse
        <a href="{{activateUrl}}" style="color: blue; font-weight: bold"
          >{{activateUrl}}</a
        >
        para criar uma nova senha
      </p>
    </div>
  </body>
</html>
